@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Members>
@using Umbraco.Core;
@using Umbraco.Core.Models;
@using Umbraco.Core.Services;
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    Layout = "Master.cshtml";
}

@{
    var memberService = ApplicationContext.Current.Services.MemberService;
    int totalRecords;
}

    @foreach (var user in memberService.GetMembersByMemberType("Active"))
    {
        var profilePicture = Umbraco.TypedMember(user.Id).GetCropUrl("photo", "portrait");
        <div class="col-md-3">
    <div style="height:200px; background-image:url('@profilePicture');background-size:cover;">
       
       
</div>
        <h3 style="text-transform:uppercase">@(user.Name)</h3>
    <br />
            <div style="font-style:italic">
                @user.GetValue("address")<br />
                @user.GetValue("zip") @user.GetValue("city")<br />
                @user.Email<br />
                

            </div>
    @{ 
        
        var skills = ((string)user.GetValue("skills")).Split(',');
    }
  
    <hr />
        

            @foreach (string skill in skills)
            {

                <strong>@Umbraco.GetPreValueAsString(Convert.ToInt32(skill)) &nbsp;&nbsp;</strong>

            }

       
    </div> }
    
<div>

</div>

